<ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar></ion-searchbar>
    <ion-buttons slot="end" class="btnmen">
      <ion-icon name="heart-circle-sharp" slot="end"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header class="cardheaderArticle">
      <img src="https://i5.walmartimages.com/asr/3a337afe-2cb2-4e95-a1a5-03f2a1793aef_1.fb910e07b380c2e44322556ab920118e.png" class="imgHead">
    </ion-card-header>
    <br>
    <ion-card-content>
      <ion-text>$4,799</ion-text><br>
      <ion-text>
        vendido por: user510
      </ion-text><br>
      <ion-text>Zapopan, Jalisco</ion-text>
      
      <br>
      <div>
        ¡A todo volumen! Disfruta de las canciones que nunca faltan en tu repertorio con estos geniales audífonos inalámbricos Billboard BB-H32248.
        Su diseño de diadema cuenta con almohadillas acolchadas, perfectas para adaptarse a tus oídos. Compatible con dispositivos Bluetooth, basta con conectarlos para disfrutar de la mejor música, además de que puedes usarlos como manos libres.
      </div>

      <div class="btnBuy">
        <ion-button color="primary" shape="round" class="btn-vender" style="float: center;" routerLink="/sell">
          <ion-text>
            <p>Comprar ahora</p>
          </ion-text>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
