<ion-header>
  <ion-toolbar color="primary">
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div style="width: 90%; margin: 0 auto;">
    <ion-row>
      <ion-col>
        <h3>Hotel los cocos Puerto vallarta</h3>
        <p>Reforma</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text color="primary">
          <p>Excelente (256 reseñas)</p>
        </ion-text>
      </ion-col>
      <ion-col style="text-align: end">
        <ion-text color="title">
          <h4>MXN $2500.00</h4>
        </ion-text>
        <ion-button color="tertiary" expand="full">Reservar</ion-button>
      </ion-col>
    </ion-row>
  </div>
  
  <div class="ion-margin-vertical">
    <ion-slides [options]="slideOptsOne">
      <ion-slide *ngFor="let item of images">
    
           <div style="width: 100%; height: 100%;">
            <ion-img src="https://www.eluniversal.com.mx/sites/default/files/2019/04/17/hotel_san_gabriel_de_las_palmas.jpg" alt="image" style="width: auto; height: auto;"></ion-img>
           </div>
    
      </ion-slide>
     </ion-slides>
  </div>

 
    <div style="border-bottom: 1px solid #86DDCC; border-top: 1px solid #86DDCC; width: 90%; margin: 0 auto;">
      <h3>Servicios más solicitados</h3>
      <ion-row style="text-align: center">
        <ion-col>Datos ionic</ion-col>
        <ion-col>
          <ion-col>Datos ionic</ion-col>
        </ion-col>
      </ion-row>
      <ion-row style="text-align: center">
        <ion-col>Datos ionic</ion-col>
        <ion-col>
          <ion-col>Datos ionic</ion-col>
        </ion-col>
      </ion-row>
      <ion-row style="text-align: center">
        <ion-col>Datos ionic</ion-col>
        <ion-col>
          <ion-col>Datos ionic</ion-col>
        </ion-col>
      </ion-row>
    </div> 

    <div style="height: 100px">
      
    </div>

    
  
</ion-content>