<ion-header>
  <ion-toolbar>
    <ion-title>Nueva Publicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="isVideo" width="320" height="240" controls class="videoPlayer">
    <video controls preload="metadata">
      <source [src]="getImgContent()" type="video/mp4">
      </video>
  </div>
  <div *ngIf="!isVideo">
    <img [src]="getImgContent()"/>
  </div>

  <ion-item lines="full">
    <ion-icon name="text-outline" slot="start"></ion-icon>
    <ion-label position="floating">Título</ion-label>
    <ion-input type="text" [(ngModel)]='publication.title' name="title" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-icon name="document-text-outline" slot="start"></ion-icon>
    <ion-label position="floating">Descripcción</ion-label>
    <ion-input type="text" [(ngModel)]='publication.description' name="description" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-icon name="cash-outline" slot="start"></ion-icon>
    <ion-toggle  [(ngModel)]="publication.monetized" name="monetized"></ion-toggle><ion-label>Monetizar</ion-label>
  </ion-item>

  <ion-button type="submit" color="primary" expand="block" (click)="post()">Publicar</ion-button>
  
</ion-content>
