
  <ion-card-header>
    <ion-card-title>{{publication.title}}</ion-card-title>
  </ion-card-header>
  
  <app-image-video-template [publication]="publication"></app-image-video-template>

  <ion-card-content>
    {{publication.description}}  
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-card-subtitle>Fecha: {{publication.checkIn}}</ion-card-subtitle>
            <ion-card-subtitle>Hora: {{publication.hour}}</ion-card-subtitle>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-button>Asistir</ion-button>     
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>              
  </ion-card-content>

  
  