video {
    width: 70%;
    height: 200px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    align-items: center;
}

.vid {
    text-align: center;
    align-items: center;
}

.card-content {
    padding-left: 0px !important;
    padding-right: 0px !important;

}

.bar {
    z-index: 2;
    width: 100%;
    text-align: center;
    transform: translate(0%, -100%);
}

.sticky-video {
    position: sticky;
    bottom: 40px;
    left: 10%;
    width: 250px;
    height: 150px;

    video {
        border-radius: 6px;
        overflow: hidden;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .7);
    }
}

.sticky-controls {
    position: absolute;
    top: 0px;
    z-index: 2;
    widows: 100%;
}

.btnmen {
    background-color: var(--ion-color-light);
    border-radius: 49%;
}