<ion-content>
  <div style="display: flex; flex-wrap: wrap; margin-top: 50px;">
    <div class="fast">
      <img src="../../../../assets/LOGOS/LOGO GO FAST 3.png" width="180px" height="140px">
    </div>
  
    <div class="goibet">
      <img src="../../../../assets/LOGOS/LOGO GOIBET 2.png" width="115px" height="115px" style="margin-top: 25px;">
    </div>
  
    <div class="goishop">
      <img src="../../../../assets/LOGOS/LOGO GOI SHOP PNG.png" width="160px" height="120px" style="margin-top: 10px;">
    </div>
  
    <div class="goideal">
      <img src="../../../../assets/LOGOS/LOGO GOIDEAL.png" width="160px" height="75px" style="margin-top: 30px;">
    </div>
  
    <div class="goijob">
      <img src="../../../../assets/LOGOS/LOGO GOI JOB.png" width="160px" height="100px" style="margin-top: 20px;">
    </div>
  
    <div class="goilearn">
      <img src="../../../../assets/LOGOS/LOGO GOI LEARN.png" width="160px" height="50px" style="margin-top: 45px;">
    </div>
  </div>
</ion-content>
