.fast{
    background-color: #fff;
    width: 170px;
    height: 140px;
    border-radius: 35px;
    margin-left: 20px;
    margin-top:20px;
    text-align: center;
}
.goibet{
    background-color: #fff;
    width: 170px;
    height: 140px;
    border-radius: 35px;
    margin-left: 20px;
    margin-top:20px;
    text-align: center;
}
.goishop{
    background-color: #fff;
    width: 170px;
    height: 140px;
    border-radius: 35px;
    margin-left: 20px;
    margin-top:20px;
    text-align: center;
}
.goideal{
    background-color: #fff;
    width: 170px;
    height: 140px;
    border-radius: 35px;
    margin-left: 20px;
    margin-top:20px;
    text-align: center;
}
.goijob{
    background-color: #fff;
    width: 170px;
    height: 140px;
    border-radius: 35px;
    margin-left: 20px;
    margin-top:20px;
    text-align: center;
}
.goilearn{
    background-color: #fff;
    width: 170px;
    height: 140px;
    border-radius: 35px;
    margin-left: 20px;
    margin-top:20px;
    text-align: center;
}