<ion-header>
  <ion-toolbar color="primary">
    <img src="..\..\..\..\..\assets\goiconnect.png" slot="start" width="160px" height="80px" style="border-top-right-radius: 30px; border-bottom-right-radius:30px">
    <ion-searchbar></ion-searchbar>
    <ion-buttons slot="end" class="btnmen">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <super-tabs (tabChange)="OnTabChange($event)">
    <super-tabs-toolbar slot="bottom">
      <super-tab-button>
        <ion-icon name="home-outline" color="light"></ion-icon>
      </super-tab-button>
      <super-tab-button>
        <ion-icon name="cart-outline" color="light"></ion-icon>
      </super-tab-button>
      <super-tab-button>
        <ion-icon name="chevron-forward-circle-outline" color="light"></ion-icon>
      </super-tab-button>
      <super-tab-button>
        <ion-icon name="chatbubbles-outline" color="light"></ion-icon>
      </super-tab-button>
      <super-tab-button>
        <ion-icon name="person-outline" color="light"></ion-icon>
      </super-tab-button>
    </super-tabs-toolbar>
    <super-tabs-container>
      <super-tab>
        <ion-content>
          <ion-nav [root]="homePage"></ion-nav>
        </ion-content>
      </super-tab>
      <super-tab>
        <ion-content>
          <ion-nav [root]="marketPage"></ion-nav>
        </ion-content>
      </super-tab>
      <super-tab>
        <ion-content>
          <ion-nav [root]="storiesPage"></ion-nav>
        </ion-content>
      </super-tab>
      <super-tab>
        <ion-content>
          <ion-nav [root]="chatPage"></ion-nav>
        </ion-content>
      </super-tab>
      <super-tab>
        <ion-content>
          <ion-nav [root]="profilePage"></ion-nav>
        </ion-content>
      </super-tab>
    </super-tabs-container>
  </super-tabs>
</ion-content>