<ion-content fullscreen color="dark">
  <ion-card *ngFor="let publication of publications$ | async" color="primary" class="ion-margin-bottom">
    <img src="https://www.eluniversal.com.mx/sites/default/files/2019/04/17/hotel_san_gabriel_de_las_palmas.jpg"/>
    <ion-card-header (click)="goToDetail()">
      <ion-card-title>{{publication.title}}</ion-card-title>
      <ion-card-subtitle>{{publication.description}}</ion-card-subtitle>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-card-title>MXN ${{publication.price}}</ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>
</ion-content>