<ion-header>
  <ion-toolbar>
    <ion-title>RegisterPage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form (ngSubmit)="registerForm()">
      <ion-item lines="full">
        <ion-icon name="person-circle-outline" slot="start"></ion-icon>
        <ion-label position="floating">Username</ion-label>
        <ion-input type="text" [(ngModel)]="UserData.name" name="name"  required></ion-input>
      </ion-item>
  
      <ion-item lines="full">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="UserData.email" name="email" required></ion-input>
      </ion-item>
  
      <ion-item lines="full">
        <ion-icon name="key-outline" slot="start"></ion-icon>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="UserData.password" name="password" required></ion-input>
      </ion-item>
  
      <ion-item lines="full">
        <ion-icon name="key-outline" slot="start"></ion-icon>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input type="password" [(ngModel)]="UserData.password_confirmation" name="password_confirmation" required></ion-input>
      </ion-item>
      <ion-card-content>
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="primary" expand="block">Register</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button color="danger" expand="block" (click)="LoginPage()">Login</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </form>
  </ion-card>
</ion-content>
