<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
		<ion-back-button text="Regresar" >
		</ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content  class="background-app">

	<div style="height: 100%; ">

		<form [formGroup]="RegisterForm" (ngSubmit)="submit()" style="width: 100%; height: 100%; top: 20%; position: fixed;">

			<ion-grid style="width: 85%;">

				<ion-row class="white-input" >
					<ion-col size="12" >

						<ion-item class="item-without-color">
							<ion-label  position="floating" > Correo </ion-label>
							<ion-input formControlName="email" inputmode="email"></ion-input>
						</ion-item>
					</ion-col>
				</ion-row>

				<ion-row class="row-error">
					<div *ngFor="let error of errorMessages.email">
						<ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
							<small class="error-message">{{error.message}}</small>
						</ng-container>
					</div>
				</ion-row>

				<ion-row class="white-input">
					<ion-col size="12">

						<ion-item class="item-without-color">
							<ion-label  position="floating" > Contraseña </ion-label>
							<ion-input formControlName="pass" inputmode="password" type="password"></ion-input>
						</ion-item>
					</ion-col>
				</ion-row>

				<ion-row class="row-error">
					<div *ngFor="let error of errorMessages.pass">
						<ng-container *ngIf="pass.hasError(error.type) && (pass.dirty || pass.touched)">
							<small class="error-message">{{error.message}}</small>
						</ng-container>
					</div>
				</ion-row>

				<ion-row class="white-input">
					<ion-col size="12">

						<ion-item class="item-without-color">
							<ion-label  position="floating" > Confirmación de Contraseña </ion-label>
							<ion-input formControlName="pass2" inputmode="password" type="password"></ion-input>
						</ion-item>
					</ion-col>
				</ion-row>

				<ion-row class="row-error">
					<div *ngFor="let error of errorMessages.pass2">
						<ng-container *ngIf="pass2.hasError(error.type) && (pass2.dirty || pass2.touched)">
							<small class="error-message">{{error.message}}</small>
						</ng-container>
					</div>
				</ion-row>
				  
		
				<ion-row style>
					<ion-col size="12" style="padding-bottom: 5%;">
					<ion-button 
						style="width: 100%;" 
						[disabled]="!RegisterForm.valid" 
						type="submit" 
						class="buttons-color-rounded" 
						name="create">
						REGISTRARME
					</ion-button>
					</ion-col>
				</ion-row>

			</ion-grid>
		</form>
	</div>
	
</ion-content>