.emailform{
    border-radius: 35px;
    --ion-background-color: #fff;
    width: 70%;
    margin-left: 15%;
}

.pwdForm{
    border-radius: 35px;
    --ion-background-color: #fff;
    width: 70%;
    margin-left: 15%;
}

.formRegister{
    margin-top: 80px;
}

.btnContinue{
    margin-top: 50px;
    width: 70%;
    --ion-background-color: #051733 !important;
}