<ion-content class="bg" color="dark">

    <form (ngSubmit)="registerForm()" class="formRegister">
      
        <ion-item class="emailform">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-input type="email" [(ngModel)]="UserData.email" name="email" placeholder="Correo" required></ion-input>
        </ion-item>
      
      <br>
      
        <ion-item class="pwdForm">
          <ion-icon name="key-outline" slot="start"></ion-icon>
          <ion-input type="password" [(ngModel)]="UserData.password" name="password" placeholder="Contraseña" required></ion-input>
        </ion-item>
      
      <br>
      
        <ion-item class="pwdForm">
          <ion-icon name="key-outline" slot="start"></ion-icon>
          <ion-input type="password" [(ngModel)]="UserData.password_confirmation" placeholder="Confirmar contraseña" name="password_confirmation" required></ion-input>
        </ion-item>
      <br>

      <div style="text-align: center;">
        <ion-button style="text-align: center;" shape="round" class="btnContinue" routerLink="/register-file">
          <ion-text color="secondary">
            CONTINUAR
          </ion-text>
        </ion-button>
      </div>

    </form>

</ion-content>
