<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
      <ion-button expand="full" (click)="addFriend()">
        Agregar a amigos
      </ion-button>
      <ion-button expand="full">
        Agregar a super amigos
      </ion-button>
      <ion-button expand="full">
        Seguir
      </ion-button>
      <ion-button expand="full">
        Bloquear
      </ion-button>
</ion-content>
