.name{
    border-radius: 35px;
    --ion-background-color: #fff;
    width: 70%;
    margin-left: 15%;
}

.firstName{
    border-radius: 35px;
    --ion-background-color: #fff;
    width: 70%;
    margin-left: 15%;
}

.secondName{
    border-radius: 35px;
    --ion-background-color: #fff;
    width: 70%;
    margin-left: 15%;
}

.day{
    border-radius: 35px;
    --ion-background-color: #fff;
    width: 20%;
    margin-left: 15%;
}

.month{
    border-radius: 35px;
    --ion-background-color: #fff;
    width: 20%;
    margin-left: 2%;
}

.year{
    border-radius: 35px;
    --ion-background-color: #fff;
    width: 20%;
    margin-left: 2%;
}

.bg{
    --ion-background-color: linear-gradient(to bottom, #2cc4de 0%, #0a608e 100%);
}

.formRegister2{
    margin-top: 80px;
}

.btnContinue{
    margin-top: 50px;
    width: 70%;
    --ion-background-color: #051733 !important;
}

.photo{
    border-radius: 15px;
    --ion-background-color: #fff;
    width: 35%;
    margin-left: 15%;
    height: 50%;
}

.idreverse{
    border-radius: 15px;
    --ion-background-color: #fff;
    width: 35%;
    margin-left: 2%;
    height: 50%;
}
.rfc{
    border-radius: 35px;
    --ion-background-color: #fff;
    width: 70%;
    margin-left: 15%;
}

.numid{
    border-radius: 35px;
    --ion-background-color: #fff;
    width: 70%;
    margin-left: 15%;
}