<ion-content color="dark">

  <form class="formRegister2">
    
      <ion-item class="name">
        <ion-input type="text" name="names" placeholder="Nombre(s)" required></ion-input>
      </ion-item>
    
    <br>
    
      <ion-item class="firstName">
        <ion-input type="text" name="firstName" placeholder="Primer apellido" required></ion-input>
      </ion-item>
    
    <br>
    
      <ion-item class="secondName">
        <ion-input type="text" placeholder="Segundo apellido" name="secondName" required></ion-input>
      </ion-item>
    <br>
    <div style="display: flex">
      <ion-item class="day">
        <ion-input type="text" placeholder="Día" name="day" required></ion-input>
      </ion-item>
  
      <ion-item class="month">
        <ion-input type="text" placeholder="Mes" name="month" required></ion-input>
      </ion-item>
  
      <ion-item class="year">
        <ion-input type="text" placeholder="Año" name="year" required></ion-input>
      </ion-item>
    </div>
    <br>

    <ion-item class="rfc">
      <ion-input type="text" placeholder="RFC" name="rfc" required></ion-input>
    </ion-item>
    <br>

    <ion-item class="numid">
      <ion-input type="text" name="id" placeholder="No. identificación" required></ion-input>
      <ion-icon name="help-circle-sharp" slot="end" size="large"></ion-icon>
    </ion-item>
    <br>

    <div style="display: flex;">
      <ion-item class="photo">
        <ion-icon name="camera-outline" slot="start"></ion-icon>
        <ion-input type="file" name="photo" placeholder="Foto de identificación"></ion-input>
      </ion-item>

      <ion-item class="idreverse">
        <ion-icon name="camera-outline" slot="start"></ion-icon>
        <ion-input type="file" name="reverseid" placeholder="Reverso de identificación"></ion-input>
      </ion-item>
    </div>

    <div style="text-align: center;">
      <ion-button style="text-align: center;" shape="round" class="btnContinue">
        <ion-text color="secondary">
          CONTINUAR
        </ion-text>
      </ion-button>
    </div>

  </form>

</ion-content>
