ion-slides{
    height: 75px;
}

.avatarHistory{
    border:3px solid;
    margin-left: 9px;
    color: #79c6b7 !important;
}

.btnup {
    // --background: var(--ion-color-medium-tint);
    --background: #83daca !important;
}

.btnvi {
    // --background: var(--ion-color-medium-tint);
    --background: #83daca !important;
}

.btnpost {
    width: 130px;
    float: right;
    --background: #5d9789 !important;
}
.inppost{
    color: var(--ion-color-secondary-tint);
    font-size: 1.2em;
}

.cardHome{
    padding: 0%;
}

.chatIcon{
    color: #79c6b7 !important;
}

.heartBtn{
    color: #79c6b7 !important;
}

.bookBtn{
    color: #79c6b7 !important;
}