/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.cart-modal{
    --height: 50%;
    --border-radius: 10px;
}
ion-searchbar{
    .searchbar-input-container{
        .searchbar-input{
            border-radius: 35px !important;
        }
    }
}

:root{
    --color-fondo : black;
    //--color-fondo : linear-gradient(0deg, rgba(132,219,202,1)  , rgb(79, 121, 113) 90%) !important;

    --color-fondo-botones: rgb(55,86,79);
    --color-texto-botones: white;
}


.background-app {
    --background: var(--color-fondo);
    background: var(--color-fondo);

    width: 100%;
    height: 100%;
}

.white-buttons{
    --background : white;
    color: black;
    --border-radius: 50px;
    text-transform: none;
    font-weight: bold;
    font-size: 4vw;
    height: 10vw;
}

.white-input{
    --background :rgb(228,228,228);
    background: rgb(228,228,228);

    color: black;
    --color: black;

    --border-radius: 50px;
    border-radius: 50px; 

    text-transform: none;
    font-size: 3vw;

    padding: 0 35px 0 35px;
}

.error-message {
    color: red;
    font-size: medium;
    font-weight: bold;
}

.buttons-color-rounded{
    --background : var(--color-fondo-botones);
    color: var(--color-texto-botones);
    --border-radius: 50px;
    text-transform: none;
    font-weight: bold;
    font-size: 4vw;
    height: 10vw;
}

.row-error{
    padding-bottom: 5%; 
    padding-top: 3%; 
    justify-content: center;
    text-align: center;
}

.item-without-color{
    --background: none; 
    color: black;
}
