<ion-header>
  <ion-toolbar>
    <ion-button shape="round" class="btn-vender" style="float: right;" routerLink="/sell">
      <ion-text color="dark">
        <p>vender producto</p>
      </ion-text>
    </ion-button>
    <ion-fab-button (click)="openCart()" #cart class="animate__animated animate_bounceOutLeft" horizontal="end">
      
      <div class="cart-length">{{ cartItemCount }} </div>
      
      <ion-icon name="heart" class="icon-heart"></ion-icon>
    </ion-fab-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let p of products" color="secondary">
      <div style="display: flex; flex-direction:row">

        <div style="width: 50%;">
          <img src="https://i5.walmartimages.com/asr/3a337afe-2cb2-4e95-a1a5-03f2a1793aef_1.fb910e07b380c2e44322556ab920118e.png" width="100%" height="90%">
        </div>

        <div>
          <div style="float: left; width:70%">
            <ion-text color="tertiary">
              <h1 style="font-weight: bold;"> $ {{ p.price }} </h1>
            </ion-text>
            <ion-text color="dark"> <p>{{ p.name }} <br> {{ p.ciudad }}</p></ion-text>
          </div>

          <div style="float: right;">

            <ion-button shape="round" class="star" color="secondary" style="margin-bottom: 90%">
              <ion-text color="dark">4.8</ion-text>
              <ion-icon name="star" class="start-icon" slot="end" color="warning"></ion-icon>
            </ion-button>

              <ion-fab vertical="bottom" horizontal="end" slot="fixed">
                <ion-fab-button class="pru" size="small" (click)="addToCart(p)">
                  <ion-icon name="heart" class="heart-icon"></ion-icon>
                </ion-fab-button>
              </ion-fab>

          </div>

        </div>
      
      
      
      </div>
    </ion-card>
  </ion-list>
</ion-content>
