<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GoiConnect
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <super-tabs (tabChange)="OnTabChange($event)">
    <super-tabs-toolbar>
      <super-tab-button>
        <ion-icon name="paper" color="light"></ion-icon>
        <ion-label> Apps</ion-label>
      </super-tab-button>
      <super-tab-button>
        <ion-icon name="contact" color="light"></ion-icon>
        <ion-label> Social </ion-label>
      </super-tab-button>
      <super-tab-button>
        <ion-icon name="information-circle-contact" color="light"></ion-icon>
        <ion-label> Professional</ion-label>
      </super-tab-button>
    </super-tabs-toolbar>
    <super-tabs-container>
      <super-tab>
        <ion-content>
          <ion-nav [root]=""></ion-nav>
        </ion-content>
      </super-tab>
      <super-tab>
        <ion-content>
          <ion-nav [root]="socialPage"></ion-nav>
        </ion-content>
      </super-tab>
      <super-tab>
        <ion-content>
          <ion-nav [root]="professionalPage"></ion-nav>
        </ion-content>
      </super-tab>
    </super-tabs-container>
  </super-tabs>
</ion-content>
