<ion-header>
  <ion-toolbar color="dark">
    <img src="..\..\..\..\..\assets\goiconnect.png" slot="start" width="160px" height="80px" style="border-top-right-radius: 30px; border-bottom-right-radius:30px">
    <ion-searchbar></ion-searchbar>
    <ion-buttons slot="end" class="btnmen" color="light">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title>
      <h1 style="margin-left: 10px;"><b>Proyecto emprendedor</b></h1>
    </ion-card-title>

    <ion-card-content>
      <ion-fab style="margin-left: 30%; margin-top: 10%">
        <ion-fab-button size="small" color="medium">
          <ion-icon name="add" color="dark"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <div style="background-color: #e7eaed; width:110px; height: 115px; border-radius: 10px">
        <div style="margin-left: 10px; margin-top:10px; padding-top: 7px;">
          <img src="../../../../assets/image-icon.PNG" width="90px" height="89px">
        </div>

        <p style="font-size: .7em; margin-left: 10px">Subir imagen o video</p>
        <br>
      </div>

      <br>
      <ion-item style="border-radius: 35px;">
        <ion-input type="text" style="border-radius: 35px;" placeholder="Nombre del proyecto" name="nameproyect" style="border-radius: 35px;">
        </ion-input>
      </ion-item>

      <br>
      <ion-item style="border-radius: 35px;">
        <ion-input type="text" style="border-radius: 35px;" placeholder="Beneficiarios del proyecto" name="nameproyect" style="border-radius: 35px;">
        </ion-input>
      </ion-item>

      <br>
      <ion-item style="border-radius: 35px;">
        <ion-textarea style="border-radius: 35px;" rows="7" placeholder="Breve explicación" name="nameproyect" style="border-radius: 35px;">
        </ion-textarea>
      </ion-item>

      <br>
      <ion-item style="border-radius: 35px;">
        <ion-input type="file" style="border-radius: 35px;" name="nameproyect" style="border-radius: 35px;">
        </ion-input>
      </ion-item>
      <br>

      <ion-item style="border-radius: 35px;">
        <ion-input type="text" style="border-radius: 35px;" placeholder="$ 0.00" name="nameproyect" style="border-radius: 35px;">
        </ion-input>
      </ion-item>
      <p>Inversión necesaria</p>
      <br>

      <ion-item style="border-radius: 35px;">
        <ion-input type="text" style="border-radius: 35px;" placeholder="$ 0.00" name="nameproyect" style="border-radius: 35px;">
        </ion-input>
      </ion-item>
      <p>Porcentaje a repartir</p>
      <br>

    </ion-card-content>
  </ion-card>
</ion-content>
